---
import Smrt from "../../components/Smrt.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sylenthmen - Psynow</title>

    <style>
      body {
        background-color: #000000;
        background-image: radial-gradient(
            at 47% 33%,
            hsl(119.72, 92%, 54%) 0,
            transparent 59%
          ),
          radial-gradient(at 82% 65%, hsl(305.18, 100%, 38%) 0, transparent 55%);
      }
    </style>
  </head>
  <body class="animate-fade-in">
    <Smrt
      transition:name="fotico"
      ArtTrack="/psynow.webp"
      applelink="https://music.apple.com/gb/album/psynow/1722007573?i=1722007575"
      spotifylink="https://open.spotify.com/intl-es/album/3TqNLZGSmoCifbOPFwGrSy?si=sKdn4GU6S8-Nxl81VXMw3A"
      deezerlink="https://www.deezer.com/es/album/525101272"
      youtubelink="https://youtu.be/X3MhitkOq_c?si=R7spMVtwmbYfoiYe"
      amazonlink="https://amazon.com/music/player/albums/B0CQKGRBYL?marketplaceId=ATVPDKIKX0DER&musicTerritory=US&ref=dm_sh_v8SC8uaaYsTeIwVs3xd4mEO6O"
    />
  </body>
</html>
