<meta charset="UTF-8" />
<body class="felx justify-center items-center h-[100vh] bg-black">
  <div class="flex flex-col justify-center items-center m-auto">
    <svg
      width="512"
      height="512"
      viewBox="0 0 512 512"
      version="1.1"
      id="svg1"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      ><defs id="defs1"></defs><g
        id="g1"
        transform="matrix(3.0337429,0,0,3.4081365,-53.741126,-178.27523)"
        style="stroke:#000000;stroke-opacity:1"
        ><g style="display:inline;stroke:#000000;stroke-opacity:1" id="g23"
          ><path
            style="fill:none;stroke:#ffffff;stroke-width:2.90292;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 79,112.061 0.059,8.075 -1.583,4.127 0.03,5.001"
            id="path1"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:3.18098;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 125.937,112.02 -0.07,8.064 1.902,4.122 -0.035,4.995"
            id="path2"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 73.194,106.273 c 0,0 -0.188,-3.587 3.094,-6.936 3.998,-4.079 12.866,-8.718 22.175,-9.269 8.613,-0.51 16.237,0.853 21.108,3.175 2.38,1.134 3.313,1.536 5.84,3.48 2.645,2.034 6.086,4.83 6.491,9.198"
            id="path3"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.89925;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 73.243,106.198 -0.166,16.88 2.727,6.223"
            id="path4"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.90183;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 131.886,105.694 0.163,17.16 -2.687,6.327"
            id="path5"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 77.738,129.1 c 0,0 -0.83,0.975 -2.053,0.996"
            id="path6"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.50289;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 78.317,128.724 c 0,0 -1.19,0.591 -2.25,1.264 -0.934,0.593 -1.765,1.25 -1.587,1.62"
            id="path7"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 74.597,131.22 0.003,2.488 5.456,7.015 m 29.853,-19.436 -1.642,2.58 0.586,1.994 2.58,2.58 c 0,0 4.34,0.94 4.81,1.057 0.47,0.117 5.278,-2.112 5.278,-2.112 l 1.584,-2.815 -0.176,-2.287 -5.044,-2.64 -5.865,0.176 z"
            id="path8"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.84203;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 96.658,124.078 c 0,0 -0.42,1.815 -0.643,2.289 -0.176,0.376 -4.809,2.209 -4.809,2.209 l -5.354,0.08 -3.145,-2.47 c 0,0 -0.68,-2.23 -0.935,-2.628 -0.255,-0.398 0.17,-1.593 0.17,-1.593 l 3.74,-1.753 3.23,-1.035 3.994,0.239 1.615,1.354 1.53,1.832 z"
            id="path9"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 100.76,125.682 c 0,0 -3.472,2.002 -3.96,7.588 -0.453,5.164 0.16,6.157 3.063,6.737 2.903,0.58 2.654,-9.372 2.654,-9.372 l -0.166,-4.728 z m 2.96,-0.024 c 0,0 3.872,-0.295 4.645,9.663 0.514,6.634 -5.682,3.566 -5.682,3.566 z m 23.329,2.535 c 0,0 1.957,1.702 1.878,1.654 -0.8,-0.485 0.076,-0.149 0.277,-0.188"
            id="path10"></path><ellipse
            style="fill:none;stroke:#ffffff;stroke-width:2.57899;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            cx="128.48599"
            cy="129.388"
            rx="1.008"
            ry="0.69300002"
            id="ellipse10"></ellipse><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 129.938,130.788 0.41,0.337 -0.044,2.522 -5.366,7.097"
            id="path11"></path><ellipse
            style="fill:none;stroke:#ffffff;stroke-width:2.77128;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            cx="-5.3260002"
            cy="-150.007"
            rx="0.875"
            ry="0.94099998"
            transform="rotate(151.295)"
            id="ellipse11"></ellipse><path
            style="fill:none;stroke:#ffffff;stroke-width:2.11124;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            transform="matrix(0.98636,0.16463,-0.26133,0.96525,0,0)"
            d="m 106.971,116.969 h 0.217 v 0.339 h -0.217 z"
            id="path12"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 79.8,140.183 0.618,2.55 0.107,10.81 c 0,0 0.559,1.37 2.543,2.546 1.834,1.088 3.616,3.672 3.616,3.672 l 6.92,5.689"
            id="path13"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.89044;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 125.193,140.217 -0.63,2.548 -0.11,10.808 c 0,0 -0.568,1.368 -2.588,2.544 -1.868,1.087 -3.682,3.67 -3.682,3.67 l -7.047,5.687"
            id="path14"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 92.948,165.164 1.808,0.32 2.81,0.183 5.005,-1.403 4.116,1.356 3.544,-0.035 1.461,-0.375 m -31.093,-24.005 1.008,0.272 1.059,0.852 1.393,3.65 0.84,2.733 0.06,5.688 -0.094,2.663 m 39.052,-15.683 -1.14,-0.157 -2.62,7.56 v 8.032"
            id="path15"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.87074;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 81.656,141.254 4.52,-1.123 c 0,0 1.246,0.79 1.397,0.925 0.664,0.595 0.232,2.247 0.232,2.247 l 0.1,2.676 1.196,2.082 0.1,4.361"
            id="path16"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 90.157,149.754 3.373,0.066 v 1.257 l 16.669,-0.033 1.058,-0.033 -0.033,-1.059 5.226,-0.033 m -27.185,-1.582 0.053,-2.566 0.409,-0.945 h 3.539 l 0.41,1.522 3.492,0.033 0.926,0.165 0.53,-0.364 3.075,-0.066 0.662,0.596 1.389,-0.497 2.679,-0.033 0.463,0.463 0.926,-0.496 h 2.976 l 1.62,-0.992 2.514,-0.165 0.563,0.76 -0.033,2.977"
            id="path17"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 89.184,152.035 0.018,0.653 0.558,0.605 1.819,0.893 1.157,0.165 0.893,-0.727 1.29,1.356 2.117,0.198 1.124,-0.529 1.059,0.992 1.852,0.265 0.562,-0.364 0.827,-0.662 1.488,1.026 2.25,-0.133 0.892,-0.76 1.058,0.264 0.86,0.199 c 0,0 1.588,-0.562 1.72,-0.562 0.132,0 0.728,-0.86 0.728,-0.86 l 1.554,0.33 2.348,-0.727 0.761,-0.893 -0.033,-4.697 m -22.518,6.609 0.046,-8.607"
            id="path18"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.92207;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 98.081,154.046 0.024,-6.528"
            id="path19"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.99898;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 102.525,154.352 -0.024,-6.837"
            id="path20"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.90906;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 107.015,154.443 -0.047,-6.808"
            id="path21"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.95461;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 111.411,153.627 -0.07,-7.188"
            id="path22"></path><path
            style="fill:none;stroke:#ffffff;stroke-width:2.86499;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
            d="m 115.375,153.31 0.661,-5.391 1.207,-1.919 -0.115,-4.68 1.34,-1.107 4.166,0.959"
            id="path23"></path></g
        ><path
          style="fill:none;stroke:#ffffff;stroke-width:3.265;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
          d="m 143.189,107.73 -0.265,40.481 35.256,-20.307 z"
          id="path24"></path><path
          style="fill:none;stroke:#ffffff;stroke-width:3.26501;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
          d="m 155.144,114.38 25.022,-0.069 -0.28,27.315 -25.491,0.28"
          id="path25"></path><path
          style="fill:none;stroke:#ffffff;stroke-width:3.265;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
          d="m 143.189,107.73 -0.265,40.481 35.256,-20.307 z"
          transform="matrix(-0.99309,0,0,1.00113,203.936,-0.55)"
          id="path26"></path><path
          style="fill:none;stroke:#ffffff;stroke-width:3.26501;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:normal"
          d="m 155.144,114.38 25.022,-0.069 -0.28,27.315 -25.491,0.28"
          transform="matrix(-0.99309,0,0,1.00113,203.936,-0.55)"
          id="path27"></path></g
      ></svg
    >

    <h1 class="text-white text-6xl">ERROR 404 NOT FOUND</h1>

    <a
      class="mt-6 p-2 border rounded-md text-white hover:scale-125 hover:cursor-pointer"
      href="/">GO HOME 🏠</a
    >
  </div>
</body>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
  body {
    font-family: "Kdam Thmor Pro", sans-serif;
  }
</style>
