<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap"
      rel="stylesheet"
    />
    <title>About | Skull Island Records</title>
  </head>
  <style>
    * {
      font-family: "Kdam Thmor Pro", sans-serif;
    }

    body {
      background-color: #000;
    }

    .Titulo {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 550px;
      margin: auto;
    }

    h1 {
      text-align: center;
      color: #ff9f33;
      font-size: 2rem;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .Parrafos {
      display: block;
      justify-content: center;
      align-items: center;
      margin: auto;
      max-width: 550px;
    }

    p {
      color: #fff;
      margin-bottom: 20px;
    }
  </style>
  <body>
    <div class="Titulo">
      <h1>Historia</h1>
    </div>
    <div class="Parrafos">
      <p>
        Hace algunos años, en el apasionante mundo de la música electrónica, un
        visionario llamado Sylenthmen decidió materializar su sueño de crear un
        espacio donde los sonidos innovadores pudieran florecer y resonar en
        todo el mundo. Así nació Faces Records, un sello discográfico fundado
        con el propósito de unir a talentosos productores de música electrónica
        bajo una bandera común.
      </p>
      <p>
        El 30 de junio de 2016 marcó el inicio de una emocionante travesía para
        Sylenthmen y su equipo. Con determinación y pasión, enfrentaron desafíos
        y celebraron victorias, construyendo no solo un sello discográfico sino
        también una comunidad vibrante. Sin embargo, como todo en la vida, las
        cosas evolucionan, y con el tiempo, Faces Records se transformó en algo
        aún más poderoso: Skull Island Records.
      </p>
      <p>
        Skull Island Records no es solo un cambio de nombre; es una evolución
        que refleja la fortaleza y la identidad única del sello. Sylenthmen, el
        arquitecto de este viaje musical comprendió la importancia de adaptarse
        y crecer. La calavera que ahora adorna el logo del sello es un símbolo
        de la tenacidad, la resistencia y la conexión entre todos aquellos que
        forman parte de esta isla sonora.
      </p>
      <p>
        El propósito fundamental de Skull Island Records sigue siendo el mismo
        que inspiró a Faces Records: ayudar a compañeros productores de música
        electrónica a llevar sus creaciones a nuevas alturas. Con una visión
        clara, el sello se compromete a apoyar a sus artistas en el proceso de
        lanzar sus creaciones en las principales plataformas de streaming. La
        idea central es simple pero poderosa: al crecer juntos, todos alcanzamos
        nuevas cumbres.
      </p>
      <p>
        La historia de Skull Island Records es una historia de pasión, comunidad
        y música que resuena en el corazón de cada productor y amante de la
        electrónica que se une a esta isla. Con cada canción que se eleva desde
        Skull Island, la red se fortalece, creando un eco que se expande más
        allá de las fronteras musicales y conecta a almas afines en todo el
        mundo.
      </p>
      <p>
        Así continúa la travesía de Skull Island Records, una travesía musical
        que celebra la diversidad, la creatividad y el poder de la unión en la
        creación artística. La isla sigue siendo un faro para aquellos que
        buscan expresarse a través de la música electrónica, guiados por la
        visión audaz de Sylenthmen y la comunidad que ha ayudado a construir.
      </p>
    </div>
    <div class="Titulo">
      <h1>Misión</h1>
    </div>
    <div class="Parrafos">
      <p>
        En Skull Island Records, nos dedicamos a impulsar la evolución y la
        diversidad en la escena de la música electrónica. Nos esforzamos por
        descubrir y apoyar talentos únicos y vanguardistas, brindando a los
        artistas las herramientas y las plataformas necesarias para que sus
        visiones musicales cobren vida.
      </p>
      <p>
        Nuestra misión es ser un faro de creatividad, conectando a artistas y
        oyentes de todo el mundo a través de experiencias sonoras que
        trascienden los límites convencionales.
      </p>
    </div>
    <div class="Titulo">
      <h1>Visión</h1>
    </div>
    <div class="Parrafos">
      <p>
        Visualizamos a Skull Island Records como el epicentro global de la
        innovación en la música electrónica, donde la expresión artística se
        fusiona con la tecnología para crear experiencias sonoras
        revolucionarias.
      </p>
      <p>
        Nos esforzamos por ser reconocidos como un sello pionero que redefine
        constantemente los estándares de la industria, elevando a artistas
        emergentes y consolidados por igual.
      </p>
      <p>
        Nuestra visión es inspirar y conectar a audiencias de todo el mundo,
        forjando un legado duradero en la evolución de la música electrónica.
      </p>
    </div>
  </body>
</html>
