---
import CardArtist from "../components/CardArtist.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists | Skull Island Records</title>
  </head>
  <body class="bg-black">
    <div class="flex justify-center items-center mt-12">
      <CardArtist />
    </div>
  </body>
</html>
