---
import CardArtist from "../components/CardArtist.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artists | Skull Island Records</title>
    <ViewTransitions />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

      * {
        font-family: "Kdam Thmor Pro", sans-serif;
      }
    </style></head
  >

  <body class="bg-black">
    <div class="z-10">
      <Navbar />
    </div>
    <h1 class="text-[#ff9f33] text-center text-3xl">ARTISTS SECTION</h1>
    <div class="flex justify-center items-center lg:-mt-24 h-[100vh]">
      <CardArtist />
    </div>
    <Footer />
  </body>
</html>
