---
import BlogHeader from "../components/BlogHeader.astro";
import CardsEblog from "../components/CardsEblog.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Skull Island Records</title>
  </head>
  <body class="bg-black animate-fade-in-down">
    <Navbar />
    <BlogHeader
      heroDesc="Hola mundo, este es un espacio diseñado para publicar artículos relacionados con el sello y posiblemente otro tipo de noticias, todos los miembros de Skull Island Records agradecen su visita y estadía en el sitio."
    />

    <CardsEblog />
    <Footer />
  </body>
</html>
