---
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="google-site-verification"
      content="3Bigr8EqO6K1uo1WneeALEqboDozhBbCEYRu44q7M2k"
    />
    <link rel="icon" type="image/svg+xml" href="/SKULL LOGOTIPO BLANCO.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="N6PuPssHxgigV-vmfe0pXnuNiHSfqEvN2_FJ4iUocBs"
    />
    <meta
      name="description"
      content="Explora el fascinante universo musical de Skull Island Records, tu sello discográfico de referencia. Descubre artistas talentosos, géneros variados, lanzamientos exclusivos y las últimas novedades en la escena musical. ¡Sumérgete en la magia de la música con Skull Island Records, donde la innovación y la creatividad convergen para ofrecerte experiencias auditivas inigualables!"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Skull Island Records</title>
    <ViewTransitions />
  </head>
  <body class="bg-black">
    <Navbar />

    <div class="py-6">
      <Card />
    </div>
    <Footer />
  </body>
</html>
