---
import UpcomiCard from "../components/UpcomiCard.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import BadgeRevision from "../components/BadgeRevision.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap"
      rel="stylesheet"
    />
    <meta
      name="description"
      content="Seccion donde encontraras los proximos lanzamientos de skull island records."
    />
    <title>Upcoming Releases</title>

    <style>
      * {
        font-family: "Kdam Thmor Pro", sans-serif;
      }
    </style>
  </head>
  <body class="bg-black animate-fade-in-down">
    <Navbar />
    <h2 class="text-[#ff9f33] text-center py-4 text-2xl animate-fade-in-down">
      TRACKS EN LANZAMIENTO
    </h2>
    <div class="flex flex-col">
      <UpcomiCard />
    </div>
  </body>
  <Footer />
</html>
